{{#each burgerObj.burger}}

{{#if this.devoured}}
<div class="card mb-3" style="width: 30%;">

  <h3 class="card-header">{{{this.burger_name}}}</h3>
  <div class="card-body">
    <h5 class="card-title">Only At Da Burger Shop</h5>
    <h6 class="card-subtitle text-muted">Order ID: {{{this.id}}}</h6>
  </div>
  <img style="width: 100%; display: block;"
    src="https://images.unsplash.com/photo-1540265556701-ae209ac395cd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
    alt="Card image">


  <div class="card-body">
    <p class="card-text">The {{{ this.burger_name }}} is one of the very best burgers we make here at Da Burger Shop</p>
  </div>
  <ul class="list-group list-group-flush">
    <form action="/api/devour/burger/{{this.id}}?_method=PUT">
      <li class="list-group-item"> <button type="submit" class="btn btn-primary btn-sm">Consume It</button>
      </li>
  </ul>
  </form>
  {{else}}

  <div class="card mb-3" style="width: 30%;">
    <h3 class="card-header">{{{this.burger_name}}}</h3>
    <div class="card-body">
      <h5 class="card-title">Only At Da Burger Shop</h5>
      <h6 class="card-subtitle text-muted">Order ID: {{{this.id}}}</h6>
    </div>
    <img style="width: 100%; display: block;"
      src="https://images.unsplash.com/photo-1540265556701-ae209ac395cd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
      alt="Card image">
    <div class="card-body">
      <p class="card-text">{{{ this.burger_name }}} has been consumed</p>
    </div>

    {{/if}}
    <div class="card-footer text-muted">
    </div>
  </div>
  <div class="card">
  </div>

    {{/each}}

    <form action="/api/burger" method="POST">
      <div class="form-group has-danger">
        <label class="form-control-label" for="inputDanger1">Invalid input</label>
        <input type="text" value="wrong value" class="form-control is-invalid" id="name" name="name">
        <div class="invalid-feedback">Sorry, this block shouldn't be empty</div>
        <button type="submit" class="btn btn-primary btn-lg">Large button</button>
      </div>
    </form>